.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 93%;
  padding: 20px 60px;
  background: rgba(5, 59, 104, 0.767);
  backdrop-filter: blur(10px);
  z-index: 10;
  transition: background 0.3s;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s ease;
}

.nav-links li a:hover {
  color: #ffb400;
}

/* Mobile */
@media (max-width: 768px) {
  .navbar {
    padding: 15px 30px;
  }

  .nav-links {
    gap: 15px;
  }
}
